
<ion-tabs selectedIndex="0" tabsPlacement="top" tabsLayout="title-hide" light>
    <ion-tab tabTitle="Nos activités" [root]="tabFollowedActivites" tabIcon="people"></ion-tab>
    <ion-tab tabTitle="Mes activités" [root]="tabMyActivites" tabIcon="person"></ion-tab>
</ion-tabs>

<!--<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil: Flux d'activités</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
        
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
-->
